// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.album {
  height: 300px;
  overflow: scroll;
  .album-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.media {
  div.album-cover-image img {
    height: 150px;
  }
}
